<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <%= link_to "Rapoo App",admin_home_index_path, class:'navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6'  %>
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <%= link_to 'Sign out',  destroy_admin_admin_user_session_path, method: :delete,class:"nav-link px-3", data: { confirm: 'Are you sure?' }  %>
    </div>
  </div>
</header>