<div class="col-md-2 item">
  <div class="card p-3 text-center">
    <%= link_to image_tag(p.image.url, alt:"", width:"170px"), product_path(p)   %>
    <p class="h5 pt-2"><%= p.name %> </p>
  </div>
</div>
