<div class="container-fluid">
  <div class="row">
    <%# --Sidebar %>
    <%= render partial:'admin/home/side_bar' %>
    <%# --Sidebar %>

    <%#  --Main %>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      
        <h1 class="h2">Dashboard</h1>
        <input class="form-control w-25 rounded-2 border-1" type="text" placeholder="Search" aria-label="Search">

      </div>

      <div class="table-responsive">
        <h1> Welcome page admin </h1>
      </div>
    </main>
    <%#  --Main %>

  </div>
</div>