    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
      <ul>
        <li>Màn hình</li>
        <li><label>Công nghệ màn hình :</label>Curved Dynamic AMOLED</li>
        <li><label>Màu màn hình :</label>16 Triệu</li>
        <li><label>Chuẩn màn hình :</label>Quad HD+</li>
        <li><label>Độ phân giải màn hình :</label>1440 x 3040 pixels</li>
        <li><label>Màn hình :</label>6.4 inches</li>
        <li><label>Mặt kính màn hình :</label>Corning Gorilla Glass 6</li>
        <li>Camera Trước</li>
        <li><label>Độ phân giải :</label>Camera kép</li>
        <li><label>Thông tin khác :</label>Đang cập nhật</li>
        <li>Camera Sau</li>
        <li><label>Độ phân giải :</label>3 camera</li>
        <li><label>Quay phim :</label>2160p@60fps, 1080p@240fps, 720p@960fps, HDR, dual-video rec</li>
        <li><label>Đèn Flash :</label>Có</li>
        <li><label>Chụp ảnh nâng cao :</label>Đang cập nhật</li>
        <li>Cấu hình phần cứng</li>
        <li><label>Tốc độ CPU :</label>2x2.7 GHz + 2x2.3 GHz + 4x1.9 GHz</li>
        <li><label>Số nhân :</label>8</li>
        <li><label>Chipset :</label>Exynos 9820</li>
        <li><label>RAM :</label>8 GB</li>
        <li><label>Chip đồ họa (GPU) :</label>Mali-G76 MP12</li>
        <li><label>Cảm biến :</label>Mở khóa bằng vân tay siêu âm, Mở khóa bằng khuôn mặt 2D,...</li>
        <li>Bộ nhớ &amp; Lưu trữ</li>
        <li><label>Danh bạ lưu trữ :</label>Không giới hạn</li>
        <li><label>ROM :</label>128 GB</li>
        <li><label>Bộ nhớ còn lại :</label>Đang cập nhật</li>
        <li><label>Thẻ nhớ ngoài :</label>MicroSD</li>
        <li><label>Hỗ trợ thẻ nhớ tối đa :</label>512 GB</li>
        <li>Thiết kế &amp; Trọng lượng</li>
        <li><label>Kiểu dáng :</label>Đang cập nhật</li>
        <li><label>Chất liệu :</label>Kính, kim loại, Ceramic</li>
        <li><label>Kích thước :</label>157.6 x 74.1 x 7.8 mm</li>
        <li><label>Trọng lượng :</label>175g</li>
        <li><label>Khả năng chống nước :</label>Có</li>
        <li>Thông tin pin</li>
        <li><label>Loại pin :</label>Li-Ion</li>
        <li><label>Dung lượng pin :</label>4100 mAh</li>
        <li><label>Pin có thể tháo rời :</label>Không</li>
        <li><label>Chế độ sạc nhanh :</label>Có</li>
        <li>Kết nối &amp; Cổng giao tiếp</li>
        <li><label>Loại SIM :</label>Nano SIM</li>
        <li><label>Khe cắm sim :</label>2</li>
        <li><label>Wifi :</label>Wi-Fi 802.11 a/b/g/n/ac,&nbsp;Dual-band,&nbsp;Wi-Fi Direct,&nbsp;Wi-Fi hotspot</li>
        <li><label>GPS :</label>A-GPS, GLONASS, BDS</li>
        <li><label>Bluetooth :</label>v5.0,&nbsp;apt-X,&nbsp;A2DP,&nbsp;LE</li>
        <li><label>GPRS/EDGE :</label>Không</li>
        <li><label>NFC :</label>Có</li>
        <li><label>Cổng sạc :</label>Type-C 1.0</li>
        <li><label>Jack (Input &amp; Output) :</label>3.5mm</li>
        <li>Bảo hành</li>
        <li><label>Thời gian bảo hành :</label>12 Tháng</li>
        <li>Hệ điều hành</li>
        <li><label>Hệ điều hành :</label>Android 9.0 (Pie)</li>
      </ul>
    </div>