<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
  <p>
    Xiaomi Mi 8 64GB có thiết kế được lấy cảm hứng từ ánh sáng, là sự
    kết hợp giữa hai mặt kính cong 4 cạnh và khung nhôm series 7 siêu bền
    siêu nhẹ. Phần mặt lưng được sơn thanh lịch nhưng vẫn rất bóng bẩy và
    thời trang. Đặc biệt, toàn bộ phần khung viền và mép máy đều được bo
    cong tỉ mỉ, kiểu dáng gọn gàng để vừa vặn hoàn hảo trong bàn tay bạn.
  </p>
</div>