<!-- images product -->

<div class="col-md-3">
  <div class="card p-1 text-center">
    <%= image_tag(images_product.image.url, alt:"", width:"")  %>
  </div>
</div>
        

    <!-- /images product -->