<% provide(:title, 'Products') %>
  <div class="container">
    <div class="col-md-12 mt-3">
      <!-- Result search -->
      <div class="row g-3 products">
        <%= render @products %>
      <%= paginate @products, window: 3 %>
      </div>
      <!-- / Result search -->

    </div>
  </div>