<footer class="blog-footer container d-flex justify-content-around align-items-center py-2"
  style='border-top: 4px solid #08a6c6;'>
  <div class='d-flex align-items-center'>
    <i class="fa-solid fa-arrow-rotate-left" style="font-size: 50px;color: #08a6c6;"></i>
    <div>7 ngày miễn phí trả hàng <br>Trả hàng miễn phí trong 7 ngày</div>
  </div>
  <div class='d-flex align-items-center'>
    <i class="fa-solid fa-truck-arrow-right" style="font-size: 50px;color: #08a6c6;"></i>
    <div>
      Hàng chính hãng 100% <br>Đảm bảo hàng chính hãng <br>hoặc hoàn tiền
      gấp đôi
    </div>
  </div>
  <div class='d-flex align-items-center'>
    <i class="fa-solid fa-plane-circle-check" style="font-size: 50px;color: #08a6c6;"></i>
    <div>
      Miễn phí vận chuyển <br>Giao hàng miễn phí toàn quốc
    </div>
  </div>
</footer>