<!DOCTYPE html>
<html>
  <head>
    <title>RapooApp</title>
    <%= render 'layouts/rails_default'  %>
  </head>

  <body>
    <%= render 'layouts/header_app'  %>
    <%= yield %>

    <%# <%= render 'layouts/footer' %> 

  </body>
</html>
